<%- include('./partials/head_partial.ejs') %>

<main class="container h-100 d-flex flex-column align-items-center">
  <a
    href="/games"
    class="btn btn-primary position-absolute m-3"
    style="width: 5rem; height: 2.5rem; left: 0"
    >Back</a
  >
  <div class="w-50">
    <h1 class="text-center mt-2 mb-4">Register</h1>
    <form class="d-flex flex-column" method="post">
      <div class="mb-3">
        <label for="email" class="form-label">Email address</label>
        <input type="email" class="form-control" id="email" />
      </div>
      <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input type="password" class="form-control" id="password" />
      </div>
      <button type="submit" class="btn btn-primary-subtle-20">Register</button>
      <div class="form-text">
        <p>Already have an account? <a href="/login">Log in</a></p>
      </div>
    </form>
  </div>
</main>

<%- include('./partials/foot_partial.ejs') %>
